* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

html {
  background-color: white;
  color: black;
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
}

a:hover {
  text-decoration: underline;
}

#intro {
  font-size: inherit;
  margin: auto;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  z-index: 2;
  width: 100%;
  height: 100%;

  background-image: url("imgs/background.jpg");
  background-size: cover;
}

#intro strong {
  font-size: 200%;
}

ul {
  list-style-position: inside;
}
ol > li {
  text-align: left;
}
li {
  margin-top: 10px;
}

#viewButton {
  margin-top: 30px;

  background-color: Transparent;
  background-repeat: no-repeat;
  width: fit-content;
  padding: 10px 20px;
  font-size: large;
  border: 2px solid black;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

section {
  width: 100%;
  margin: 100px auto;
}

.sectionTitle {
  width: fit-content;
  height: 70px;
  margin: 40px auto 40px auto;
  font-size: xx-large;
  border-bottom: 1px solid black;
  text-align: center;
}

.description {
  width: 50%;
  margin: auto;
}

.aboutSplit {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 95%;
  margin: 50px auto 200px auto;
}

.noBottomMargin {
  margin-bottom: 0;
}

.commentary {
  text-align: left;
  width: 60%;
  margin-top: 20px;
  margin-left: 35%;
}

.verticalDivider {
  border-right: 1px solid black;
}

.splitParts {
  width: 40%;
  margin: auto;
}

q {
  font-weight: lighter;

  display: block;
  font-style: italic;
  margin: 40px auto;
}

#work {
  text-align: right;
  font-weight: bold;
  margin-top: 50px;
}

.vertical {
  flex-direction: column;
}

.center {
  margin: auto;
  text-align: center;
}

.aboutImg {
  margin: auto;
  width: 50%;
  max-width: 500px;
}

.smallImg {
  width: 200px;
}

#aboutText {
  width: 50%;
}

summary {
  margin: 100px 100px 200px 100px;
}

footer {
  background-color: #23262f;
  color: white;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  width: 100%;
  margin: auto;
  padding-top: 20px;
}

footer a {
  color: white;
  text-decoration: none;
}

#socialLinks img {
  margin: 0 20px;
  width: 50px;
}
#socialLinks a {
  text-decoration: none;
}

/* TABLET */
@media screen and (max-width: 1200px) {
  #intro {
    margin: auto;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    z-index: 2;
    width: 100%;
    height: 100%;
  }

  #intro strong {
    font-size: 150%;
  }

  .aboutSplit {
    flex-direction: column;
  }

  #aboutText {
    text-align: center;
    margin: auto;
  }

  section {
    width: 90%;
    margin: auto;
  }

  .gamelinks {
    flex-direction: row;
  }

  .description {
    width: 100%;
  }
}
